
.navbar-brand{
  margin-left: 70px;
}
.navbar-head-style{
  padding: 2rem  3rem;
}
  
.nav-link-style{
    color: #272848;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
  .find-doctor{
    margin-left: 30px;
  }
/*======================dropdown-style-------start====================*/

.dropdown-menu {
    background-color: #272848; 
}

.dropdown-item {
    color: #fff;
    padding: 10px 20px;
}
  
.dropdown-item:hover {
    background-color: #FFFFFF;
}
  
/* Remove default icons */
.nav-link.dropdown-toggle::after {
    display: none;
}

/*======================dropdown-style-------End====================*/

.navbar-head-style .nav-signin-button {
  border: 1px solid #0167FF;
  color: #0167FF;
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 600;

}

.navbar-head-style .nav-register-button {
  background: #0167FF;
  color: #FFFFFF;
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
} 
@media (min-width: 1000px) and (max-width: 1022px) {
   .find-doctor{
  
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
      margin-bottom: 60px;
  
width: 100px;
height: 40px;

  
  
    }
    .for-providers,.for-corporates{
  
  
      font-size: 14px;
      font-weight: 500;
      line-height: 10px;
margin-top: 5px;
     
  
    }
    .about-nav{
      font-size: 14px;
      font-weight: 500;
      line-height: 10px;
margin-top: 7px;
     
  
    }
  
}
  /* Responsive Styles */
  @media (min-width: 1023px) and (max-width: 1439px) {
    .navbar-brand{
      margin-left: 40px;
      margin-bottom: 60px;
  
  
    }
    .brand-img{
      width: 100px;
  height: 31px;
  top: 43px;
  left: 80px;
  gap: 0px;
  opacity: 0px;

    }
    .find-doctor{
  
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
      margin-bottom: 60px;
  
width: 100px;
height: 40px;

  
  
    }
    .for-providers,.for-corporates{
  
  
      font-size: 14px;
      font-weight: 500;
      line-height: 10px;
margin-top: 5px;
     
  
    }
    .about-nav{
      font-size: 14px;
      font-weight: 500;
      line-height: 10px;
margin-top: 7px;
     
  
    }
  
  .navbar-head-style .nav-signin-button {
  
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    border-radius: 5px;
  
  
  }
  
  .navbar-head-style .nav-register-button {
  
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 50px;

    margin-bottom: 50px;
    border-radius: 5px;
    margin-right: 0px;
  } 
    
  }
  

@media (min-width: 2560px) {
  .navbar-brand{
    margin-left: 130px;


  }
  .brand-img{
    width: 150px;
height: 51px;
top: 43px;
left: 80px;
gap: 0px;
opacity: 0px;
margin-top: 10px;
  }
  .find-doctor{

    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 30px;

  }
  .for-providers,.for-corporates,.about-nav{

    font-size: 22px;
    font-weight: 500;
    line-height: 30px;

  }

.navbar-head-style .nav-signin-button {

  padding: 15px 30px;
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 5px;


}

.navbar-head-style .nav-register-button {

  padding: 15px 30px;
  font-size: 22px;
  font-weight: 700;
  margin-right: 50px;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 5px;
  margin-right: 90px;
} 
  

}

@media (min-width: 3840px) {
  .navbar-brand{
    margin-left: 130px;


  }
  .brand-img{
    width: 150px;
height: 51px;
top: 43px;
left: 80px;
gap: 0px;
opacity: 0px;
margin-top: 10px;
  }
  .find-doctor{

    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 30px;

  }
  .for-providers,.for-corporates,.about-nav{

    font-size: 22px;
    font-weight: 500;
    line-height: 30px;

  }

.navbar-head-style .nav-signin-button {

  padding: 15px 30px;
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 5px;


}

.navbar-head-style .nav-register-button {

  padding: 15px 30px;
  font-size: 22px;
  font-weight: 700;
  margin-right: 50px;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 5px;
  margin-right: 90px;
} 
  

}